<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Planned upgrades</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/style-upgrades.css') }}"
    />
  </head>
  <body>
    <div class="content">
      <h1>Planned upgrades for this directory</h1>
      <p>
        I wanted to get this directory out as quick as I could just so that people (including me) would have something better to use to find supplies than the outdated (and hard to use) supplies directory Jacob and I made last year. 
        As such, there are many more features that I wanted to include in this directory, but which I did not have the time to put in or did not have the technical skills to implement. 
        This directory will be updated long into the future as I add them in. 
      </p>
      <p>
        Here is a list of all the future features that I plan to add for the 3rd version of the supplies directory (in no particular order).  
        <ul>
            <li>An autocomplete feature for the search bar. Once you start typing, suggestions will appear just like you're typing a search query into Google.</li>
            <li>And, just like Google, if you enter in a term and the search function doesn't recognize it, the directory will give you a "These are results for ... Search instead for ..."</li>
            <li>The six buttons will be removed and you don't have to select a room before selecting. (I only have this right now because I am not technically skilled enough to create a database that complicated.)</li>
            <li>Instead of a bit.ly, I will be setting up a custom domain name.</li>
            <li>The Google forms will be replaced by native forms within the website. The forms I set up for now was so I would be able to release this directory faster.</li>
            <li>The homepage will list the top 5 most searched for items as well as the top 5 most recently searched for items.</li>
            <li>The entire homepage will be cleaned up to look nicer.</li>
        </ul>
      </p>
    </div>
  </body>
</html>